/* FirstItem.module.css */
/* @/style/inori.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

*{
  margin: 0;
  padding:0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}


.logo-image {
  display: block;
  margin: auto;
  width: 150px;
  height: 70px;
}

.form-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
  width: 390px;
  height: 50px;
  padding: 10px;
  margin: 50px auto 10px;
  border-radius: 8px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  margin: 30px auto 50px;
  border: none;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffafaf80;
  font-size: 20px;
  cursor: pointer; 
  border: 1px solid black;
  transition: opacity .1s, transform .1s;
}

.submit-button:hover {
  background-color: #ffafaf;
}

.submit-button:active {
  transform: scale(.98);
}

.width{
  width:410px;
}