@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.title{
    font-size: 16px;
}
.text{
    font-size:12px;
    text-align: left;
}
.title-jp{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
.text-jp{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.center{
    margin:0 auto;
}
h1{
    margin: 10px;
}
.material{
    height: 80px;
    width: 330px;
    display: flex;
    text-align: center;
    margin:50px auto 30px;
    background-color: #F2C9C9;
    border-radius: 8px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid black;
}
.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height:60px;
    margin:0 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F2C9C9;
    font-size: 24px;
    transition: opacity .1s, transform .1s;
}
.button-1:hover{
  background-color: #ffafaf;
}
.button-1:active{
    transform: scale(.98);
}
.itemimg{
    width: 154px;
    height: 84px;
    margin: 8px 7px 8px 14px;
}
.item:nth-child(2){
    width: 300px;
    height: 84px;
    margin: 8px 7px 8px 14px;
}
.content:nth-child(1){
    margin-top:10px;
}
.content{
    border: 1px solid black;
    margin: 0 auto 20px;
    padding: 5px 10px 20px 10px;
    display: flex;
    width: 410px;
    height:auto;
    background-color: #F2C9C9;
    border-radius: 8px;
}
.content h2{
    font-size: 16x;
    text-decoration: underline;
}

.lastbutton{
    margin-top:30px;
}

.content:hover {
    background-color: #ffafaf;
    transition: opacity .1s, transform .1s;
}

.content:active{
    transform: scale(.98);
}
.two{
    width: 50%;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
.width{
    width:410px;
}
.flex{
    display: flex;
}
.textcenter{
    text-align: center;
}
.making{
    border: 1px solid black;
    padding: 5px 10px 20px 10px;
    border-radius: 8px;
    background-color: #fcd9d9;
}
h3{
    font-size: 16x;
    border-bottom: 1px solid #333;
}